Repository eunomia-bpf/eunomia-bpf, pull requests merged in 2023-06, with the labels that each got.

#257 Fixes docker image issue (#254)
  .gitmodules
  compiler/Makefile
  compiler/dockerfile
Labels: size/XS, compiler

#260 Allow `cargo clean` to fail
  compiler/dockerfile
Labels: size/XS, compiler

#255 fix CI: recover gh-pages.yml
  .github/workflows/docs-deploy.yml
Labels: size/S

#262 Change the order of judging the url type
  ecli/client/Cargo.toml
  ecli/client/src/helper.rs
  ecli/ecli-lib/Cargo.toml
  ecli/ecli-lib/src/oci/wasm/mod.rs
  ecli/ecli-lib/src/runner/helper.rs
  ecli/server/Cargo.toml
Labels: size/M

#265 Add step to test `ecc`/`ecli` cli, and the corresponding docker image
  .github/assets/package.json
  .github/assets/simple.bpf.c
  .github/workflows/ecc-image.yml
  .github/workflows/ecc.yml
  .github/workflows/ecli.yaml
Labels: size/M

#266 doc: remove use of old docker
  README.md
  compiler/Makefile
  documents/src/blog/0.3.0-release.md
  documents/src/blog/ebpf-wasm.md
  documents/src/ecc/github-template.md
  documents/src/exporter/usage.md
  documents/src/mannual.md
  eunomia-sdks/eunomia-otel/README.md
Labels: size/S, doc, compiler

#269 Reconstruct OCI part, split it into individual crate, and add tests
  ecli/client/Cargo.toml
  ecli/client/src/helper.rs
  ecli/client/src/http_client.rs
  ecli/client/src/main.rs
  ecli/client/src/native_client.rs
  ecli/ecli-lib/Cargo.toml
  ecli/ecli-lib/src/lib.rs
  ecli/ecli-lib/src/oci/auth/login.rs
  ecli/ecli-lib/src/oci/auth/logout.rs
  ecli/ecli-lib/src/oci/auth/mod.rs
  ecli/ecli-lib/src/oci/mod.rs
  ecli/ecli-lib/src/oci/wasm/mod.rs
  ecli/ecli-lib/src/oci/wasm/pull.rs
  ecli/ecli-lib/src/oci/wasm/push.rs
  ecli/ecli-lib/src/runner/helper.rs
Labels: size/XL

#271 Remove ecli login test in `ecli.yaml`
  .github/workflows/ecc.yml
  .github/workflows/ecli.yaml
Labels: size/S

#272 Skip check gitee.com in documents CI
  documents/book.toml
Labels: size/XS

#274 Update README.md with a usable wasm image
  README.md
Labels: size/XS, doc
