Repository eunomia-bpf/eunomia-bpf, pull requests merged in 2023-05, with the labels that each got.

#215 Fix loading programs with static variables
  bpf-loader-rs/Cargo.lock
  bpf-loader-rs/bpf-loader-lib/Cargo.toml
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_4/package.json
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_4/test.bpf.c
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_4/test.bpf.o
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_4/test.skel.json
  bpf-loader-rs/bpf-loader-lib/src/btf_container.rs
  bpf-loader-rs/bpf-loader-lib/src/elf_container.rs
  bpf-loader-rs/bpf-loader-lib/src/lib.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/builder.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/poller.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/section_loader.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/tests.rs
  ecli/ecli-lib/Cargo.toml
  ecli/ecli-lib/src/runner/task_manager/mod.rs
Labels: size/L

#216 Bump version of ecli
  ecli/client/Cargo.toml
  ecli/ecli-lib/Cargo.toml
  ecli/server/Cargo.toml
Labels: size/S

#217 Rename `ecli` to `ecli-rs`
  ecli/client/Cargo.toml
Labels: size/XS

#219 Specify version of ecli-server-codegen
  ecli/server/Cargo.toml
Labels: size/XS

#221 Fix bin-name-issue
  .github/workflows/ecli.yaml
  ecli/Makefile
  ecli/dockerfile
  ecli/tests/api-test.py
  examples/tests/Makefile
Labels: size/S

#220 Fix document CI
  documents/src/blog/lmp-eunomia.md
Labels: size/XS, doc

#223 add xdp support
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_5/README.md
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_5/package.json
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_5/test.bpf.c
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_5/test.bpf.o
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_5/test.skel.json
  bpf-loader-rs/bpf-loader-lib/src/meta/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/attach.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/tests.rs
Labels: size/L, doc

#222 Support multiple export types
  bpf-loader-rs/.gitignore
  bpf-loader-rs/Cargo.lock
  bpf-loader-rs/README.md
  bpf-loader-rs/bpf-loader-lib/Cargo.toml
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_ringbuf/event.h
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_ringbuf/multiple-custom-struct.json
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_ringbuf/multiple-invalid-struct-1.json
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_ringbuf/multiple-invalid-struct-2.json
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_ringbuf/multiple.bpf.c
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_ringbuf/multiple.bpf.o
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_ringbuf/multiple.skel.json
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_sample_map/event.h
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_sample_map/multiple.bpf.c
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_sample_map/multiple.bpf.o
  bpf-loader-rs/bpf-loader-lib/assets/multiple_export_sample_map/multiple.skel.json
  bpf-loader-rs/bpf-loader-lib/src/export_event/checker.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/data_dumper/json.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/data_dumper/plain_text.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/event_handlers/key_value.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/event_handlers/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/tests/map_sampling_tests.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/tests/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/tests/ring_buf_tests.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/type_descriptor.rs
  bpf-loader-rs/bpf-loader-lib/src/meta/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/meta/tests.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/poller.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/poller/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/attach.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/tests/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/tests/multiple_export_type.rs
  bpf-loader-rs/bpf-loader-lib/src/tests.rs
  ecli/client/Cargo.toml
  ecli/ecli-lib/Cargo.toml
  ecli/ecli-lib/src/runner/task_manager/mod.rs
  ecli/server/Cargo.toml
Labels: size/XXL, doc

#230 Add a workflow to create static libs
  .github/workflows/build-static-bpf-loader-c-wrapper.yml
  bpf-loader-rs/bpf-loader-c-wrapper/eunomia-bpf.h
Labels: size/M

#232 fix ecli ctrlc
  ecli/client/src/main.rs
  ecli/client/src/native_client.rs
Labels: size/S

#233 Try to fix crates.io issue
  compiler/Makefile
  compiler/cmd/Cargo.lock
  compiler/cmd/Cargo.toml
  compiler/cmd/build.rs
  compiler/cmd/src/compile_bpf.rs
  compiler/cmd/src/config.rs
  examples/tests/Makefile
Labels: size/S, compiler

#235 Try to Fix image issue
  .github/workflows/ecc-image.yml
  compiler/cmd/Cargo.lock
  compiler/cmd/build.rs
  compiler/dockerfile
Labels: size/M, compiler

#238 Use local path to specify the dependency of `ecli-lib`
  ecli/ecli-lib/Cargo.toml
Labels: size/XS

#243 add xdp example
  examples/bpftools/xdp/.gitignore
  examples/bpftools/xdp/README.md
  examples/bpftools/xdp/xdp.bpf.c
Labels: size/M, doc

#236 [ecc] Support producing standalone executables
  compiler/cmd/.gitignore
  compiler/cmd/Cargo.lock
  compiler/cmd/Cargo.toml
  compiler/cmd/build.rs
  compiler/cmd/src/bpf_compiler/mod.rs
  compiler/cmd/src/bpf_compiler/standalone.rs
  compiler/cmd/src/bpf_compiler/standalone_bpf_loader.template.c
  compiler/cmd/src/bpf_compiler/tests.rs
  compiler/cmd/src/compile_bpf.rs
  compiler/cmd/src/config.rs
  compiler/cmd/src/config/mod.rs
  compiler/cmd/src/config/options.rs
  compiler/cmd/src/config/tests.rs
  compiler/cmd/src/document_parser.rs
  compiler/cmd/src/export_types.rs
  compiler/cmd/src/helper.rs
  compiler/cmd/src/main.rs
  compiler/cmd/src/tests.rs
  compiler/cmd/src/wasm.rs
Labels: size/XXL, compiler

#246 Add tc test
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_6/README.md
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_6/package.json
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_6/test.bpf.c
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_6/test.bpf.o
  bpf-loader-rs/bpf-loader-lib/assets/simple_prog_6/test.skel.json
  bpf-loader-rs/bpf-loader-lib/src/skeleton/tests/mod.rs
Labels: size/L, doc

#247 Adapt `ecli` and `bpf-loader` with `bpf-compatible-rs`
  bpf-loader-rs/Cargo.lock
  bpf-loader-rs/bpf-loader-lib/Cargo.toml
  bpf-loader-rs/bpf-loader-lib/src/helper/btf.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/builder.rs
  ecli/client/Cargo.toml
  ecli/ecli-lib/Cargo.toml
  ecli/ecli-lib/src/lib.rs
  ecli/ecli-lib/src/runner/task_manager/mod.rs
  ecli/ecli-lib/src/tar_reader/mod.rs
  ecli/server/Cargo.toml
Labels: size/L

#249 CI: fix the name of release binary
  .github/workflows/ecc-image.yml
  .github/workflows/ecc.yml
  documents/src/blog/lmp-eunomia.md
Labels: size/S, doc
