Repository eunomia-bpf/eunomia-bpf, pull requests merged in 2023-01, with the labels that each got.

#91 eunomia-bpf: Fix code quality issues find by codefactor
  bpf-loader/include/eunomia/eunomia-bpf.hpp
  bpf-loader/src/export_events.cpp
  bpf-loader/src/trace_helpers.c
  compiler/dockerfile
  wasm-runtime/Dockerfile
  wasm-runtime/include/wasm-app/helpers.h
  wasm-runtime/scripts/build.sh
  wasm-runtime/scripts/template/app.c
  wasm-runtime/scripts/template/wasm-app.h
Labels: size/M

#97 ecc: add optional path for `eunomia_home`
  compiler/cmd/src/config.rs
Labels: size/M

#100 Refactor codecov config
  codecov.yaml
Labels: size/S

#103 clean eunomia-rs and move common rs lib to eunomia-rs
  compiler/cmd/Cargo.lock
  compiler/cmd/Cargo.toml
  compiler/cmd/src/config.rs
  eunomia-sdks/eunomia-rs/Cargo.toml
  eunomia-sdks/eunomia-rs/build.rs
  eunomia-sdks/eunomia-rs/src/lib.rs
  eunomia-sdks/eunomia-rs/wrapper.h
Labels: size/L

#102 support auth to oci registry
  ecli/ecli-rs/Cargo.lock
  ecli/ecli-rs/Cargo.toml
  ecli/ecli-rs/src/error/mod.rs
  ecli/ecli-rs/src/main.rs
  ecli/ecli-rs/src/oci/auth/login.rs
  ecli/ecli-rs/src/oci/auth/logout.rs
  ecli/ecli-rs/src/oci/auth/mod.rs
  ecli/ecli-rs/src/oci/mod.rs
  ecli/ecli-rs/src/oci/wasm/mod.rs
Labels: size/L

#104 improve documentation
  wasm-runtime/README.md
Labels: size/S

#108 Update LICENSE
  LICENSE
  bpf-loader/src/arg_parser.cpp
  bpf-loader/src/attach.cpp
  bpf-loader/src/eunomia_bpf.cpp
  bpf-loader/test/src/arg_parser_test.cpp
  bpf-loader/test/src/auto_polling_test.cpp
  bpf-loader/test/src/config_test.cpp
  bpf-loader/test/src/helpers_test.cpp
  ecli/include/ecli/config.h
  ecli/include/ecli/eunomia_runner.h
  ecli/src/config.cpp
  ecli/src/eunomia_runner.cpp
  ecli/src/main.cpp
  ecli/test/src/example.cpp
  examples/Makefile
Labels: size/M

#114 ecc: bump version to 0.3.1
  compiler/cmd/Cargo.toml
Labels: size/XS

#115 bump eunomia-bpf version to 0.3.2
  VERSION
  compiler/cmd/Cargo.toml
Labels: size/XS
