Repository eunomia-bpf/eunomia-bpf, pull requests merged in 2023-07, with the labels that each got.

#277 Use cross-build to build aarch64 docker image
  .github/workflows/ecc-image-aarch64.yml
  .github/workflows/ecc-image-x86_64.yml
  compiler/cmd/.cargo/config.toml
  compiler/cmd/.gitignore
  compiler/cmd/Cargo.lock
  compiler/cmd/Cargo.toml
  compiler/cmd/build.rs
  compiler/cmd/src/document_parser.rs
  compiler/cmd/src/main.rs
  compiler/dockerfile.aarch64
  compiler/entry-aarch64.sh
  documents/src/blog/lmp-eunomia.md
Labels: size/L, doc, compiler

#279 Add workflow to release aarch64 standalone ecc binary
  .github/scripts/cargo-appimage.desktop
  .github/scripts/copy-ecc-aarch64-libs.sh
  .github/workflows/ecc-binary.yml
  .github/workflows/ecc-image-aarch64.yml
  .github/workflows/ecc.yml
Labels: size/L

#280 Fix an building issue of arm (#276)
  bpf-loader-rs/Cargo.lock
  bpf-loader-rs/bpf-loader-lib/Cargo.toml
  bpf-loader-rs/bpf-loader-lib/src/skeleton/builder.rs
  documents/src/installation/build.md
  ecli/client/Cargo.toml
  ecli/ecli-lib/Cargo.toml
  ecli/server/Cargo.toml
Labels: size/S, doc

#281 Add workflow to release aarch64 ecc binary
  .github/scripts/copy-libs.sh
  .github/workflows/ecc-binary.yml
  .github/workflows/ecli-binary.yaml
  ecli/.cargo/config
Labels: size/L

#282 Allow manually trigger CI
  .github/workflows/ecc-binary.yml
  .github/workflows/ecli-binary.yaml
Labels: size/XS

#285 Allow manually running more workflows
  .github/workflows/ecc-image-aarch64.yml
  .github/workflows/ecc-image-x86_64.yml
Labels: size/XS

#284 Delete VERSION
  VERSION
Labels: size/XS

#287 Fix typos
  bpf-loader-rs/README.md
  bpf-loader-rs/bpf-loader-lib/src/export_event/data_dumper/json.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/event_handlers/key_value.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/type_descriptor.rs
  bpf-loader-rs/bpf-loader-lib/src/meta/arg_parser.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/builder.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/section_loader.rs
  compiler/cmd/build.rs
  compiler/cmd/src/config/tests.rs
  compiler/cmd/src/document_parser.rs
  compiler/cmd/src/export_types.rs
  documents/src/SUMMARY.md
  documents/src/blog/0.3.0-release.md
  documents/src/blog/ebpf-wasm.md
  documents/src/blog/lmp-eunomia.md
  documents/src/ecc/config-lua-depreciate.md
  documents/src/introduction/introduction.md
  documents/src/manual.md
  documents/src/wasm-bpf.md
  ecli/README.md
Labels: size/M, doc, compiler

#289 Update deps
  bpf-loader-rs/Cargo.lock
  compiler/cmd/Cargo.lock
Labels: size/XS, compiler

#286 Add profile support
  .github/workflows/docs-deploy.yml
  .github/workflows/examples.yml
  Makefile
  bpf-loader-rs/Cargo.lock
  bpf-loader-rs/bpf-loader-lib/Cargo.toml
  bpf-loader-rs/bpf-loader-lib/assets/profile_test/gen_data.c
  bpf-loader-rs/bpf-loader-lib/assets/profile_test/profile.bpf.o
  bpf-loader-rs/bpf-loader-lib/assets/profile_test/profile.btf
  bpf-loader-rs/bpf-loader-lib/assets/profile_test/profile.skel.json
  bpf-loader-rs/bpf-loader-lib/assets/profile_test/test.bin
  bpf-loader-rs/bpf-loader-lib/src/export_event/event_handlers/buffer.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/event_handlers/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/event_handlers/sample_map.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/event_handlers/simple_value.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/tests/buffer_value_tests.rs
  bpf-loader-rs/bpf-loader-lib/src/export_event/tests/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/meta/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/meta/tests.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/poller/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/attach/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/attach/perf.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/attach/tc.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/attach/xdp.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/preload/mod.rs
  bpf-loader-rs/bpf-loader-lib/src/skeleton/tests/mod.rs
  ecli/Makefile
  ecli/client/Cargo.toml
  ecli/ecli-lib/Cargo.toml
  ecli/ecli-lib/src/runner/task_manager/mod.rs
  ecli/server/Cargo.toml
  examples/Makefile
  examples/bpftools/profile/.gitignore
  examples/bpftools/profile/profile.bpf.c
  examples/bpftools/profile/profile.h
  examples/tests/Makefile
Labels: size/XXL
