Repository eunomia-bpf/eunomia-bpf, pull requests merged in 2023-10, with the labels that each got.

#307 Fix achieved example Link in README.md
  README.md
Labels: size/XS, doc

#308 Adapt ecc build script with sandbox
  compiler/cmd/build.rs
Labels: size/M, compiler

#261 add nix flake
  .github/workflows/nix.yml
  .gitignore
  documents/src/setup/build.en.md
  ecli/.gitignore
  ecli/Cargo.lock
  flake.lock
  flake.nix
Labels: size/XL, doc

#311 flake: use local src
  flake.nix
Labels: size/S

#316 ci: use naersk build ecc
  flake.lock
  flake.nix
Labels: size/M
